img{
	width: 100px;
} 

button {
	width: 100px;
	
} 

img{
	border-radius: 5%;
} 


button{
<p style="display:inline-block;
} 

h1{
	font-style: italic;
	font-family: Monospace;
	                 
} 

h2{
	font-family: Courier;
} 